@model IEnumerable<AppGestionScolarite.Models.Session>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Liste Des Sessions </h1>

<p>
    <a asp-action="Create" class="btn btn-info">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
        </svg>
        Créer un nouveau session
    </a>
</p>

<div class="container-fluid">

    <div class="row h-50 bg-danger m-5">
        <div class="col-md-12">
            @if (Model.Where(s => s.DateDebut <= DateTime.Now.AddMonths(1)).Count() == 0)
            {
                <h4>Pas de nouvelles sessions prochainement</h4>
            }
            else
            {

                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner">

                        @{
                            int i = 0;
                            @foreach (var item in Model.Where(s => s.DateDebut <= DateTime.Now.AddMonths(1)).Take(4))
                            {
                                @if (i == 0)
                                {
                                    <div class="carousel-item active">
                                        @if (item.Parcour.Logo != null)
                                        {
                                            <img src="~/photoLogoParcour/@item.Parcour.Logo" class="d-block w-100" alt="Logo du parcours @item.Parcour.Nom">
                                        }
                                        <div class="carousel-caption d-none d-md-block">
                                            <h5 class="text-danger">@item.Parcour.Nom</h5>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="carousel-item">
                                        @if (item.Parcour.Logo != null)
                                        {
                                            <img src="/photoLogoParcour/@item.Parcour.Logo" class="d-block w-100" alt="Logo du parcours @item.Parcour.Nom" />
                                        }
                                        <div class="carousel-caption d-none d-md-block">
                                            <h5 class="text-danger">@item.Parcour.Nom</h5>

                                        </div>
                                    </div>
                                }
                                i++;
                            }
                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon btn-info" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon btn-info" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class=" table table-hover  align-middle table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.DateDebut)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateFin)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Intitule)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Parcour)
                        </th>
                        <th>
                            Effectuer une opération
                        </th>
                        <th>
                            Photo Du Parcour
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateDebut)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateFin)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Intitule)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Parcour.Nom)
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info fw-bold">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-list" viewBox="0 0 16 16">
                                        <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
                                        <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z" />
                                    </svg>
                                    Détails
                                </a>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success fw-bold">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                    </svg>
                                    Modifier
                                </a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger fw-bold">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                    </svg>
                                    Supprimer
                                </a>
                                <a asp-controller="Utilisateurs" asp-action="Inscription" asp-route-id="@item.Id" class="btn btn-primary fw-bold">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-plus-fill" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z" />
                                    </svg>
                                    S'inscrire
                                </a>
                            </td>
                            <td>
                                <img src="~/photoLogoParcour/@item.Parcour.Logo" class="d-block w-100" alt="Logo du parcours @item.Parcour.Nom">
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>


</div>




